TABLE {
	VERTICAL-ALIGN: top; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BODY {
	FONT-SIZE: normal; COLOR: black; FONT-FAMILY: Georgia, "New Century Schoolbook", Times, serif; BACKGROUND-COLOR: rgb(255, 255, 255);
	/* padding-left: 100px;
	padding-right: 100px; */
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none;
}

H1 {
	font-size:38px; FONT-WEIGHT: bolder; font-family: "Arial", Times, serif; color: #3d3d3d;
}
H2 {
	MARGIN-TOP: 20px; FONT-WEIGHT: normal;font-size: 24px; MARGIN-BOTTOM: 20px;font-family: "Sans-serif", Times, serif;
	color: rgb(66, 66, 66);
}
H3 {
	MARGIN-TOP: 6px; FONT-SIZE: normal; MARGIN-BOTTOM: 0px;font-family: "Sans-serif", Times, serif;
}

H4 {
	MARGIN-TOP: 0px;  font-weight:lighter;FONT-SIZE:normal; MARGIN-BOTTOM: 0px;font-family: "Arial", Times, serif;
}

H5 {
	MARGIN-TOP: 0px;  font-weight:lighter;FONT-SIZE:15px; MARGIN-BOTTOM: 0px;font-family: "Arial", Times, serif;
}

P {
	text-align: justify; MARGIN-TOP: 0px; font-size: 15px;font-family: "Times New Roman", Times, serif; color: #525252;
}
A {
	FONT-WEIGHT: bolder; font-size: 13px; TEXT-DECORATION: none;font-family: "Times New Roman", Times, serif;
}

NOTE{
	font-size: 6px;
}

CONF{
	font-weight: bolder;
	text-align: justify; MARGIN-TOP: 0px; font-size: 13px;font-family: "Arial", Times, serif; color: #374b00;
}

PAPERTITLE {
	font-weight: bolder;
	text-align: justify; MARGIN-TOP: 0px; font-size: 17px;font-family: "Arial", Times, serif; color: #000000;
}

CLICK {
	font-weight: bolder;
	text-align: justify; MARGIN-TOP: 0px; font-size: 15px;font-family: "Times New Roman", Times, serif; color: #001017;
}

NAME{
	font-weight: bolder;
	text-align: justify; MARGIN-TOP: 20px; font-size: 24px;font-family: "Arial", Times, serif; color: #3b3c44;
}

SUBTITLE{
	font-weight: bolder;
	text-align: justify; MARGIN-TOP: 20px; font-size: 24px;font-family: "Arial", Times, serif; color: #3b3c44;
}

A:link {
	COLOR: #5c6b99
}
A:visited {
	COLOR: #5c6b99
}
UL {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 15px
}
BLOCKQUOTE {
	MARGIN-LEFT: 6em; TEXT-INDENT: -4em
}
BLOCKQUOTE P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
#menu {
	BACKGROUND-COLOR: transparent
}
#menu A {
	DISPLAY: block; COLOR: #666666
}
#menu A:hover {
	COLOR: white; BACKGROUND-COLOR: #990000
}
#menu TD {
	PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px/15px Verdana, Lucida, Arial, sans-serif; WIDTH: 100px; COLOR: black; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#internalmenu TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px/15px Verdana, Lucida, Arial, sans-serif; COLOR: black; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#internalmenu A {
	DISPLAY: block; COLOR: #666666
}
#content {
	CLEAR: right
}
#sidebar {
	PADDING-RIGHT: 25px; MARGIN-TOP: 0.5em; TEXT-ALIGN: right
}
#sidebar IMG {
	MARGIN: 45px 0px 5px
}
#sidebar H2 {
	FONT-WEIGHT: normal; FONT-SIZE: smaller; MARGIN: 0px
}
#primarycontent {
	LINE-HEIGHT: 1.3; PADDING-TOP: 25px;
}
#footer {
	CLEAR: both; FONT-SIZE: x-small; PADDING-BOTTOM: 10px; PADDING-TOP: 20px
}
#projectlist IMG {
	PADDING-RIGHT: 10px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; PADDING-TOP: 3px
}
#projectlist TABLE {
	PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-COLLAPSE: collapse; border-spacing: 0
}
#summary TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; MARGIN: 0px; BORDER-LEFT: 0px
}
#people {
	PADDING-LEFT: 10px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
DIV.abstract {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 25px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.abstract PRE {
	FONT-SIZE: xx-small; MARGIN: 0px
}
DIV.abstract H2 {

}
DIV.abstract IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FLOAT: right; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
DIV.abstract LI {
	MARGIN: 0px
}
DIV.timestamp {
	DISPLAY: block; FONT-SIZE: x-small; COLOR: #999999; PADDING-TOP: 10px; BORDER-BOTTOM: #999999 1px solid; TEXT-ALIGN: right
}
.hide {
	DISPLAY: none
}
#courses TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
TD.coursename {
	FONT-WEIGHT: bolder
}


/* * {
	box-sizing: border-box;
  }
   */
  /* Position the image container (needed to position the left and right arrows) */
  .container {
	position: relative;
	/* margin: 0 auto; */
	/* background-color: #990000; */
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: rgb(255, 255, 255);
	padding: 0px 0px;
	color: rgb(0, 0, 0);
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
	/* margin: 0 auto; */
  }
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 20%;
	text-align: center;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.5;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }

  .lab {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
	pointer-events: none; 
	color: rgb(0, 0, 0);
	font-weight: bold;
	/* background-color: #f2f2f2; */
  }
  .lab span{
	  background-color: rgb(255, 255, 255);
	  padding-left: 20px;
	  padding-right: 20px;
	  opacity: 0.5;
	  width: auto;
  }

  .uni_div {
	position: relative;
	transform: translateX(-50%);
	display: block;
	/* margin-left: auto;
	margin-right: auto;
	align-content: center; */
	left: 0%;
	width:100%;
  }

  .button_icons{
	padding-left: 200px;
	padding-right: 200px;
}

  .button_my{
	float: left;
	/* position: relative; */
	width: 28%;
	text-align: center;
	cursor: pointer;
	transition: all 2.0s;
  }


  .my_logo{
	padding-right:0px;
	/* padding-left: -80px; */
	float: left;
	width: 16%;
	text-align: center;
  }


  .logo{
	float: left;
	  width:30%
  }


  .my_txt {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(0%, 380%);
	pointer-events: none; 
	color: rgb(71, 71, 71);
	font-weight: bold;
	/* background-color: #f2f2f2; */
  }

  .teaser {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
  }
  .ttt1{
	  /* background-color: #e2e2e2; */
  }

  /* .footer {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:4px;
	padding-bottom:4px;
	/* background-color:#ececec; */
  /* } */

  pre{
	  background-color: #ececec;
  }

.wrapper{
    min-height: 100%;
}


.footer {
    display: flex;
	position: absolute;
	bottom: 0;
    justify-content: center;
    margin-bottom: -50px;
	width: 100%;
	height: 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

body {
	margin: 0; /* 去除默认边距 */
}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: flex-end; /* 将图像块对齐到右边 */
}
.text-block {
	flex: 1;
	padding: 10px;
	margin-right: auto; /* 确保文本部分占用剩余空间，保持边距 */
}
.image-block {
	flex-shrink: 0; /* 防止图像块缩小 */
	padding: 10px;
}
.image-block img {
	width: 200px;
	height: auto;
}
.icon-container {
	display: flex;
	gap: 15px; /* 图标之间的间距 */
	padding: 0px;
}
.icon {
	width: 32px; /* 图标的宽度 */
	height: 32px; /* 图标的高度 */
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border 0.3s; /* 边框变化的过渡效果 */
}
.icon img {
	width: 100%; /* 图标图片的宽度 */
	height: auto; /* 图标图片的高度 */
}


.gallery-item {
	text-align: center;
	transition: border 0.3s ease; /* 添加过渡效果 */
}
.gallery-item img {
	box-sizing: border-box;
	width: 350px;
	height: auto; /* 设置统一的图片高度 */
	object-fit: cover; /* 保持图片比例，裁剪填充 */
	display: block;
	margin: 0 auto;
	padding-top: 23px;
	padding-bottom: 23px;

	transition: border 0.3s ease; /* 添加过渡效果 */
}
.gallery-item:hover img {
	border: 3px solid #0464b8; /* 鼠标悬停时边框颜色和宽度 */
	border-radius: 8px; /* 可选：给边框添加圆角 */
}
.gallery-item p {
	margin: 10px 0 0;
}


.image-container {
	display: inline-block; /* 保持图片大小 */
	position: relative;
}

.image-container img {
	display: block;
	width: 350px; /* 或者设置具体宽度 */
	height: 180px; /* 保持图片比例 */
	box-sizing: border-box; /* 确保边框不影响布局 */
	transition: transform 0.3s ease, border-color 0.3s ease; /* 图片缩放和平滑边框过渡效果 */
	
}

.image-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 3px solid transparent; /* 初始透明边框 */
	transition: border-color 0.3s ease; /* 边框颜色的过渡效果 */
	box-sizing: border-box; /* 确保边框不影响原始图片 */
	pointer-events: none; /* 使伪元素不影响鼠标事件 */
	border-radius: 8px; /* 可选：给边框添加圆角 */
}

.image-container:hover img {
	transform: scale(0.96); /* 图片缩小 5% */
	
}

.image-container:hover::before {
	border-color: #004fb0; /* 红色边框 */
}